@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,700;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
}
body {
background-color: #292C34;
color: white;
}
h1{
    text-align: center;
    padding: 25px;
    background-color: white;
    color: #292C34;
}
.name-picture {
    width: 100%;
    display: inline-block;
    position: relative;
}
img{
    position: absolute;
    top: 10px;
    right: 20px;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgb(78, 80, 85);
}
.education, .work-experience, .skills{
    margin: 30px;
}
.education p, .work-experience p, .skills p {
    margin-left: -10px;
    font-weight: bold;
}
.education ul, .work-experience ul, .skills ul {
    margin-left: 30px;
    margin-top: 10px;
}
.education ul ol, .work-experience ul ol{
    margin-left: 20px;
    margin-top: 10px;
    list-style-type: upper-roman;
}
.resize {
    height: 70px;
    width: auto;
}
td a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s all ease;
}
td a:hover {
    color: rgb(144,224,170);
    transform: scale(1.1);
}
table {
    border: 3px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    text-align: center;
}
table > thead td {
    border-bottom: 3px solid white;
}
